@charset 'utf-8';

$firmafon-green: #48A161;
$primary-color: $firmafon-green;

$topbar-bg: $firmafon-green;

@import 'highlighting';

@import "foundation/scss/foundation";

pre {
  font-family: 'Menlo', 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 1.25;
}

nav.top-bar {
  body.rest & li.rest > a,
  body.integrations & li.integrations > a {
    background-color: rgba(#000, .2); 
  }
}

dl.highlight {
  padding: 10px;
}

dl dd {
  padding: 0 2em;
  margin: 0;
  p { margin: 0; }
}
