<% wrap_layout :layout do %>
  <br>
  <div class="medium-4 columns panel">
    <h4>Basics</h4>
    <ul>
      <li><a href="/rest/">Intro</a></li>
      <li><a href="/rest/authentication/">Authentication</a></li>
      <li><a href="/rest/examples/">Examples</a></li>
    </ul>

    <hr>

    <h4>Resources</h4>

    <h5><a href="/rest/resources/#announcements">Announcements</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_announcements">GET /announcements</a></li>
      <li><a href="/rest/resources/#post_announcements_id_mark_as_read/">POST&nbsp;/announcements/:id/mark_as_read</a></li>
    </ul>
    <h5><a href="/rest/resources/#calls">Calls</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_calls/">GET /calls</a></li>
      <li><a href="/rest/resources/#get_calls_id">GET /calls/:id</a></li>
    </ul>
    <h5><a href="/rest/resources/#callnodes">CallNodes</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_call_nodes_live">GET /call_nodes/live</a></li>
      <li><a href="/rest/resources/#get_call_nodes_cancel_transfer">GET /call_nodes/cancel_transfer</a></li>
      <li><a href="/rest/resources/#get_call_nodes_hangup">GET /call_nodes/hangup</a></li>
      <li><a href="/rest/resources/#get_call_nodes_transfer">GET /call_nodes/transfer</a></li>
      <li><a href="/rest/resources/#get_call_nodes_id">GET /call_nodels</a></li>
    </ul>
    <h5><a href="/rest/resources/#contacts">Contacts</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_contacts">GET /contacts</a></li>
      <li><a href="/rest/resources/#post_contacts">POST /contacts</a></li>
      <li><a href="/rest/resources/#get_contacts_id">GET /contacts/:id</a></li>
      <li><a href="/rest/resources/#put_contacts_id">PUT /contacts/:id</a></li>
      <li><a href="/rest/resources/#delete_contacts_id">DELETE /contacts/:id</a></li>
    </ul>
    <h5><a href="/rest/resources/#employees">Employees</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_employee">GET /employee</a></li>
      <li><a href="/rest/resources/#get_employees">GET /employees</a></li>
      <li><a href="/rest/resources/#get_employees_id">GET /employees/:id</a></li>
      <li><a href="/rest/resources/#put_employees_id">PUT /employees/:id</a></li>
      <li><a href="/rest/resources/#post_employees_id_message">POST /employees/:id/message</a></li>
    </ul>
    <h5><a href="/rest/resources/#employeegroups">EmployeeGroups</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_employee_groups">GET /employee_groups</a></li>
      <li><a href="/rest/resources/#get_employee_groups_id">GET /employee_groups/:id</a></li>
      <li><a href="/rest/resources/#get_employee_groups_id_employees">GET /employee_groups/:id/employees</a></li>
      <li><a href="/rest/resources/#post_employee_groups_id_join">POST /employee_groups/:id/join</a></li>
      <li><a href="/rest/resources/#post_employee_groups_id_leave">POST /employee_groups/:id/leave</a></li>
      <li><a href="/rest/resources/#post_employee_groups_id_message">POST /employee_groups/:id/message</a></li>
    </ul>
    <h5><a href="/rest/resources/#receptions">Receptions</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_receptions">GET /receptions</a></li>
      <li><a href="/rest/resources/#get_receptions_id">GET /receptions/:id</a></li>
    </ul>
    <h5><a href="/rest/resources/#voicemails">VoiceMails</a></h5>
    <ul>
      <li><a href="/rest/resources/#get_voice_mails">GET /voice_mails</a></li>
      <li><a href="/rest/resources/#get_voice_mails_id">GET /voice_mails/:id</a></li>
      <li><a href="/rest/resources/#put_voice_mails_id">PUT /voice_mails/:id</a></li>
      <li><a href="/rest/resources/#delete_voice_mails_id">DELETE /voice_mails/:id</a></li>
    </ul>

  </ul>
  </div>
  <div class="medium-8 columns">
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
  </div>
<% end %>
